In [1]:
import sqlite3
import pandas as pd


conn = sqlite3.connect("../../places.sqlite")

full_data = pd.read_sql_query(
    """

SELECT
	moz_historyvisits.id,
	moz_places.url as url,
	moz_historyvisits.'visit_date' as 'visit_date',
	moz_historyvisits.from_visit as from_visit,
	t2.url as from_url
from
	moz_historyvisits
join moz_places on
	moz_places.id = moz_historyvisits.place_id

join (
	SELECT
		moz_historyvisits.id,
		moz_places.url as url
	from
		moz_historyvisits
	join moz_places on
		moz_places.id = moz_historyvisits.place_id
  ) as t2 on
	t2.id = moz_historyvisits.from_visit;




    
""",
    conn,
)


full_data.count()

# 68439
# 27911
# 40528

id            27911
url           27911
visit_date    27911
from_visit    27911
from_url      27911
dtype: int64